{{ template "admin_page_header_template.html" . }}
<div class="jumbotron">

    <div class="row pt-4">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="container-fluid bg-dark text-light pt-2 pb-2 border border-info rounded-top">
                <h5 class="text-uppercase">
                    {{ .Space }} Metadata: Version {{ .Version }}
                </h5>
            </div>

            <div class="container-fluid bg-white justify-content-center pt-2 pb-3 border border-info rounded-bottom">
                <div class="container">
                    <div class="row bg-light border border-info rounded">
                        <div class="col-md-12 pt-2 pb-3">
                            <span class="badge badge-secondary">Metadata Items:</span>
                            <br/>
                            <br/>
                            {{ range $metadataItem := .Items }}
                                <li class="list-group-item">
                                    <div class="row">

                                        <div class="col-md-8">
                                            <h5 class="text-primary">
                                                {{ $metadataItem.Key }}
                                            </h5>
                                            <small>Hash: {{ $metadataItem.Hash }}</small>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="container-fluid">
                                                <a class="btn btn-primary" href="/admin/metadata/{{ $.Space }}/download/{{ $.Version }}/{{ $metadataItem.Key }}" target="_blank">Download</a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="container-fluid">
                                                <a class="btn btn-primary" href="/admin/metadata/{{ $.Space }}">Upload...</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{ end}}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>

{{ template "admin_page_footer_template.html" . }}
