{{ template "admin_page_header_template.html" . }}
<div class="jumbotron">

    <div class="row pt-4">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="container-fluid bg-dark text-light pt-2 pb-2 border border-info rounded-top">
                <h5 class="text-uppercase">
                    {{ .Space }} Metadata: Version {{ .Version }}
                </h5>
            </div>

            <div class="container-fluid bg-white justify-content-center pt-2 pb-3 border border-info rounded-bottom">
                <div class="container">
                    <div class="row bg-light border border-info rounded">
                        <div class="col-md-12 pt-2 pb-3">
                            <span class="badge badge-secondary">Metadata Items:</span>
                            <br/>
                            <br/>
                            {{ range $metadataItem := .Items }}
                                <li class="list-group-item">
                                    <div class="row">

                                        <div class="col-md-7">
                                            <h5 class="text-primary">
                                                {{ $metadataItem.Key }}
                                            </h5>
                                            <small>Hash: {{ $metadataItem.Hash }}</small>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn-group" role="group" aria-label="View Download Buttons">
                                                <a href="/admin/metadata/{{ $.Space }}/view/{{ $.Version }}/{{ $metadataItem.Key }}" target="_blank" class="btn btn-info border border-dark rounded-left">
                                                    View&nbsp;
                                                    <img src="/images/open_in_new_tab.png"></a>
                                                </a>
                                                <a href="/admin/metadata/{{ $.Space }}/download/{{ $.Version }}/{{ $metadataItem.Key }}" target="_blank" class="btn btn-warning border border-dark rounded-right">
                                                    Download&nbsp;
                                                    <img src="/images/download_icon.png"></a>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="container-fluid">
                                                <button type="button" class="btn btn-danger border border-dark rounded" data-toggle="modal" data-target="#uploadNewModal{{ $metadataItem.Key }}" data-whatever="@mdo">&nbsp;&nbsp;Upload&nbsp;...&nbsp;&nbsp;</button>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="uploadNewModal{{ $metadataItem.Key }}" tabindex="-1" role="dialog" aria-labelledby="uploadNewEditorTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-dark text-light">
                                                        <h5 class="modal-title" id="uploadNewEditorTitle">Upload new content for: {{ $metadataItem.Key }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true" class="text-light">&times;</span>
                                                        </button>
                                                    </div>

                                                    <form method="post" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="currentVersionsTextbox" class="col-form-label">Select new file:</label>
                                                                <br/>
                                                                <input type="file" id="{{ $metadataItem.Key }}" name="{{ $metadataItem.Key }}" accept=".json">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" id="edit_button" formaction="/admin/metadata/{{ $.Space }}/upload/{{ $.Version }}/{{ $metadataItem.Key }}" onclick="showLoadingSpinner()" class="btn btn-primary">Upload</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </li>
                            {{ end}}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>


<script>
    function showLoadingSpinner() {
        document.getElementById("edit_button").innerHTML = "\
                        <button id=\"loading_spinner\" style=\"visibility: visible\" class=\"btn btn-primary\" type=\"button\" disabled>\
                            <span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span>\
                            Saving...\
                        </button>";
        document.getElementById("close_button").style.visibility = "hidden";
    }
</script>

{{ template "admin_page_footer_template.html" . }}
