{{ template "admin_page_header_template.html" . }}

<div class="jumbotron">
    <div class="row pt-4">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="container-fluid bg-dark text-light pt-2 pb-2 border border-info rounded-top">
                <h5 class="text-uppercase">
                    {{ .MetadataInfo.Space }} Metadata
                </h5>
            </div>

            <div class="container-fluid bg-white justify-content-center pt-2 pb-3 border border-info rounded-bottom">
                <div class="container">

                    <br/>

                    <div class="row">
                        <div class="col-md-9 bg-light border border-info rounded pt-2">
                            <span class="badge badge-secondary">Current Versions:</span>

                            <a class="float-right" data-toggle="collapse" href="#learnMoreCollapsible" role="button" aria-expanded="false" aria-controls="learnMoreCollapsible">
                                <img src="/images/question_mark.png">
                            </a>
                            <div class="collapse" id="learnMoreCollapsible">
                                <div class="card card-body">
                                    <small>Versions marked as "Current" are cached in the api-servers for faster access. How many versions can be marked as current depends on the configuration of the api-servers and the size of each version's data set.</small>
                                </div>
                            </div>

                            <br/>
                            <h4>
                                {{ range $currentVersion := .MetadataInfo.CurrentVersions }}
                                    <span class="badge badge-success">{{ $currentVersion }}</span>
                                {{ end}}
                            </h4>
                        </div>


                        <div class="col-md-3 p-2">
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#currentVersionsEditorModal" data-whatever="@mdo">Edit</button>
                        </div>

                        <div class="modal fade" id="currentVersionsEditorModal" tabindex="-1" role="dialog" aria-labelledby="currentVersionsEditorTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title" id="currentVersionsEditorTitle">Edit Current Versions</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="text-light">&times;</span>
                                        </button>
                                    </div>

                                    <form method="post">
                                        <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="currentVersionsTextbox" class="col-form-label">Enter current versions (csv):</label>
                                                    <input type="text" name="currentVersionsCSV" value="{{ .MetadataInfo.CurrentVersionsCSV}}" class="form-control" id="currentVersionsTextbox">
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="edit_button" formaction="/admin/metadata/{{ .MetadataInfo.Space }}/setCurrentVersions" onclick="showLoadingSpinner()" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>

                    <div class="row bg-light border border-info rounded">
                        <div class="col-md-12 pt-2">
                            <span class="badge badge-secondary">All Versions:</span>
                            <br/>
                            <br/>
                            <ul class="list-group">
                                {{ range $version := .MetadataInfo.AllVersions }}
                                    <li class="list-group-item">
                                        {{ $version }}
                                        <a href="/admin/metadata/{{ $.MetadataInfo.Space }}/editVersion/{{ $version }}" class="btn btn-primary float-right">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                                    </li>
                                {{ end}}
                            </ul>
                            <br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>

<script>
    function showLoadingSpinner() {
        document.getElementById("edit_button").innerHTML = "\
                        <button id=\"loading_spinner\" style=\"visibility: visible\" class=\"btn btn-primary\" type=\"button\" disabled>\
                            <span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span>\
                            Saving...\
                        </button>";
        document.getElementById("close_button").style.visibility = "hidden";
    }
</script>

{{ template "admin_page_footer_template.html" . }}
